* {
    box-sizing: border-box;
    outline: none;
}

body {
    background-color: #050404;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    text-transform: uppercase;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style-type: none;
}

nav {
    display: inline-block;
    vertical-align: middle;
}

button,
input {
    border: none;
    background-color: transparent;
    vertical-align: middle;
}

input {
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
}

input::placeholder {
    font-size: 22px;
    line-height: 1;
    font-weight: 900;
    text-transform: uppercase;
    color: #cccccc;
    padding-left: 10px;
}

h1,h2 {
    margin: 0;
}

.wrapper {
    max-width: 1200px;
    padding: 30px;
    margin: 0 auto;
}

.header {
    margin-bottom: 80px;
}

.logo {
    color: #ffffff;
    border: 3px solid #9965e3;
    border-radius: 10px;
    font-size: 22px;
    line-height: 1;
    font-weight: 900;
    padding: 14px 28px;
    margin-right: 112px;
    display: inline-block;
    vertical-align: middle;
}

.menu-link {
    font-size: 22px;
    line-height: 1;
    font-weight: 400;
    color: #ffffff;
    
}

.menu .yellow {
    color: #ffb822;
}

.menu-item {
    display: inline-block;
    vertical-align: middle;
    padding-right: 40px;
}

.search {
    border: 3px solid #9965e3;
    border-radius: 10px;
    max-width: 280px;
    padding: 6px;
    float: right;
}

/* hero */

.hero {
    background:linear-gradient(rgba(0, 0, 0, 0.477), rgba(0, 0, 0, 0.477)), url("../image/kate-leo.jpg");
    background-repeat: no-repeat;
    border-radius: 0 100px 0 100px;
    padding: 257px 0;
}

.name {
    font-size: 100px;
    line-height: 100px;
    font-weight: 900;
    text-transform: uppercase;
    color: #ffb822;
    text-align: center;
}

.name-desc {
    font-size: 40px;
    line-height: 40px;
    font-weight: 900;
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
}